table, th, tr, td, tbody, thead{
    text-align: center;
    border-collapse: collapse;
    padding-left: auto;
    padding-right: auto;
    border: 1px solid black;
}

h1{
    text-align: center;
}

.table *{
    border: 1px solid black;
    padding: 5px;
    width: 15rem;
    color: black;
    text-align: center;

}

.table {
    border: 2px solid black;
    border-collapse: collapse;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: calc(50% - 30rem);
}

    .table-titolo *{
        padding: 5px;
        width: 20rem;
        color: black;
        text-align: center;
    
    }
    
    .table-titolo {
        padding: 0;
        margin: 0;
        border: 0px;
    }